/Calculator/nbproject/private/
/Calculator/build/
/Calcsample/nbproject/private/
/Calcsample/build/
/Contact Book/nbproject/private/
/Contact Books/nbproject/private/
/Contact Books/build/
/Phone_Book/nbproject/private/
/Phone_Book/build/
/Phone_Book/dist/
/School_Management-System/nbproject/private/
/JavaApplication7/nbproject/private/
/School_Management-System/build/
/JavaApplication8/nbproject/private/
/SchoolManagementSystem/nbproject/private/
/SchoolManagementSystem/build/
/SchoolManagementSystem/dist/
/SchoolManagement/nbproject/private/
